<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">

        {% if 'user' in session %}

    <div class="profile-container">
        <div class="profile-picture">

            {% set profile_pic = user[8] %}
                {% if user[8] %}
                <img src="{{ url_for('static', filename=user[8]) }}"  style="max-width: 200px; max-height: 200px;">
                {% else %}
                <img src="{{ url_for('static', filename='img/default_pp.png') }}" alt="Default Profile Picture"
                     style="max-width: 200px; max-height: 200px;">
                {% endif %}

            </div>

        <div class="profile-card">
            {% set name = user[4] %}
            {% if name %}
                <h3>Welcome, Teacher {{ user[4] }}</h3>
            {% else %}
            <h3>Welcome, {{ user[1] }}</h3>

            {% endif %}
                <br>
                <h4>Username: {{ user[1] }}</h4>
                <h4>Email: {{ user[3] }}</h4>
                <h4>Age: {{ user[5] }} </h4>
            {% set address =  user[6] %}
                {% if address %}
            <h4>Address: {{ address }}</h4>
            {% else %}
            <h4>Address: -</h4>
            {% endif %}
            {% set hp = user[7] %}
                {% if hp %}
                    <h4>Phone: {{ hp }}</h4>
                {% else %}
                    <h4>Phone: -</h4>
                {% endif %}

            <br>
                    <!-- Update Profile Button -->
                    <a href="{{ url_for('updateProfile') }}" class="btn btn-primary">Update Profile</a>
                </div>

         <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>


                        <div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                Are you sure you want to delete your account?
                            </div>
                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <form action="{{ url_for('deleteAccount') }}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                </form>

                            </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>

                    {% endif %}


        </div>



</body>
</html>
