<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Home</title>
</head>
<body>
    {% include 'Teacher/teacherNav.html' %}
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    <h1>Welcome to Teacher's Home</h1>

    <h2>Your Modules</h2>
    <ul>
        {% for module in modules %}
            <li>
                <a href="{{ url_for('update_module', module_id=module[0]) }}">{{ module[1] }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
