


.heading{
    text-align: center;
    background-color: #324F3E;
    color: #fff;
    margin-top: -80px;
    height: 30px;
    font-size: 28px;

}



.container-fluid {
            margin-top: 20px; /* Add some margin to the container */
}

.table th,
.table td {
    vertical-align: middle;

}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}