#password-strength-bar {
    height: 10px;
    width: 0;
    background-color: #FF5656;
    transition: width 0.3s, background-color 0.3s;
}

#error-messages {
    margin-top: 10px;
    list-style-type: disc;
    padding: 0;
    text-align: left;
}

.error-message {
    color: #FF5656;
}

.overall-feedback {
    font-weight: bold;
    text-align: left;
}

#password-feedback {
    text-align: left;
    margin-left: 0;
    max-width: 400px;
}

#next-button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}