body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}

.profile-details p {
    margin: 5px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons .btn {
    width: 100%;
    max-width: 200px;
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: 1px solid #ddd;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

h5 {
    text-align: left;
    padding-left: 20px;
}

.explorer-point-icon {
    width: 30px; /* Smaller size for the token image */
    height: auto;
    vertical-align: middle; /* Aligns the image with the text */
    margin-right: 5px; /* Space between image and text */
}