.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image round */
    border: 2px solid #ccc; /* Optional: adds a border */
    object-fit: cover; /* Ensures the image covers the area */
}
.heading{
    text-align: center;
}



body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}

.profile-card {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.buttons {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

h5{
    text-align: left;
    padding-left: 20px;
}





