body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D2818; /* Background color for the entire page */
    margin: 0;
    font-family: Arial, sans-serif;
}

.back_to_login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.back_to_login h4 {
    margin: 0;
    font-size: bold;
}

.back_to_login a {
    font-weight:bold;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.back_to_login a:hover {
    text-decoration: underline;
}

img {
    position: absolute;
    top: 0;
    left: 0;
}

.form-container {
    background-color: #1E7043;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width:400px;
    margin:auto;
}

.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step-indicator div {
    width: 45%;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #bdc3c7;
    color: white;
}

.step-indicator .active {
    background-color: #27ae60;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    background: #E8FFE9;
    color: #333;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    width: 100%;
    height: 41px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E8FFE9 inset;
    -webkit-text-fill-color: #333;
}

input:-moz-autofill {
    box-shadow: 0 0 0px 1000px #E8FFE9 inset;
    -moz-text-fill-color: #333;
}

input:-ms-autofill {
    box-shadow: 0 0 0px 1000px #E8FFE9 inset;
    -ms-text-fill-color: #333;
}

input:-o-autofill {
    box-shadow: 0 0 0px 1000px #E8FFE9 inset;
    -o-text-fill-color: #333;
}

input:autofill {
    box-shadow: 0 0 0px 1000px #E8FFE9 inset;
    text-fill-color: #333;
}

button {
    padding: 8px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
}

button:hover {
    background-color: #2ecc71;
}

.signin-google {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.signin-google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signin-google a {
    color: #27ae60;
    text-decoration: none;
}

.signin-google a:hover {
    text-decoration: underline;
}

.registrationForm {
    color: #1E7043;
}

#registrationForm {
    background-color: #1E7043;
    padding: 30px;
    border-radius: 8px;
    color: white;
}

#registrationForm input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    width: 394px;
    height: 30px;
}

.button-container {
    display: flex;
    gap:10px;
    justify-content: space-between;
}

#registrationForm button {
    padding: 8px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Set width to fill the container */
    height: 41px;
}

#registrationForm button:hover {
    background-color: #2ecc71;
}
#password-strength-bar {
    height: 10px;
    width: 0;
    background-color: #FF5656;
    transition: width 0.3s, background-color 0.3s;
}

#error-messages {
    margin-top: 10px;
    list-style-type: disc;
    padding: 0;
    text-align: left;
}

.error-message {
    color: #FF5656;
}

.overall-feedback {
    font-weight: bold;
    text-align: left;
}

#password-feedback {
    text-align: left;
    margin-left: 0;
    max-width: 400px;
}

#next-button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}



