table {
   width: 100%;
   border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
   background-color: #f2f2f2;
}

.explorer-point-icon {
    width: 30px; /* Smaller size for the token image */
    height: auto;
    vertical-align: middle; /* Aligns the image with the text */
    margin-right: 5px; /* Space between image and text */
}