<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/password_checker.css">

    <style>
            .heading{
            text-align: center;
            background-color: #324F3E;
            color: #fff;
            margin-top: -80px;
            height: 30px;
            font-size: 28px;

        }

    </style>
</head>

<body>
    {% include 'includes/_adminNav.html' %}
    <h1 class="heading">Staff Management System</h1>

    <h2 style="text-align: left; font-weight: bolder; margin-top: 30px; margin-left: 115px;">Create Teacher</h2>

    <div class="container">
        <div class="form-container">
            <form method="POST" action="">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" oninput="checkPasswordStrength()" required>
                        <br>
                        <div id="password-strength-bar-container">
                            <div id="password-strength-bar"></div>
                        </div>
                        <ul id="password-feedback"></ul>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="role">Role:</label>
                        <input type="text" class="form-control" id="role" name="role" value="teacher" readonly>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create Staff</button>
                <a href="/adminTeacherTable" class="btn btn-danger">Cancel</a>

            </form>
        </div>
    </div>
</body>
<script src="../../static/javascript/password_checker.js"></script>

</html>