<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile update</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/adminUpdateProfile.css">
    <link rel="stylesheet" href="../../static/css/password_checker.css">

<script src="../../static/javascript/updateProfile.js"></script>
</head>

<body>
    {% include 'includes/_adminNav.html' %}
    <div class="container">
    <div class="container">
        <h2 class="heading">Change Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('adminUpdatePassword') }}" method="POST">
        <div class="col-md-6">
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" oninput="checkPasswordStrength()">
                <br>
                <div id="password-strength-bar-container">
                <div id="password-strength-bar"></div>
            </div>
            <ul id="password-feedback"></ul>1x
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
            </div>
        </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="buttons" style="margin: 20px;">
            <button type="submit" class="btn btn-primary me-2">Change Password</button>
            <a href="{{ url_for('adminProfile') }}" class="btn btn-danger">Cancel</a>
                </div>
        </div>
    </div>
</form>




</form>

      </div>
</div>
    <script src="../../static/javascript/password_checker.js"></script>
</body>
</html>


