{% extends 'adminBase.html' %}

{% block title %} Teacher Users {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminStudentTable.css') }}">

<h1>Staff Management System</h1>

<div class="count" style="font-weight: bolder;" >
  {% if count == 0 %}
  <p>There are no teachers.</p>
  {% elif count == 1 %}
  <p>There is 1 teacher.</p>
  {% else %}
  <p>There are {{ count }} teachers.</p>
  {% endif %}

</div>

<a href="/adminCreateTeacher" class="btn btn-primary">Create Teacher</a>


<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
          <th>Name</th>
        <th>Email</th>
          <th>Role</th>
        <th>Account Status</th>
          <th>Actions</th>


      </tr>
    </thead>
   <tbody>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher[0] }}</td>
            <td>{{ teacher[1] }}</td>
            <td>{{ teacher[4] }}</td>
            <td>{{ teacher[3] }}</td>
            <td>{{ teacher[9] }}</td>
            <td>{{ 'Locked' if teacher[10] else 'Not Locked' }}</td>


           <td>
                {% if teacher[0] != admin_id %}
                <a href="{{ url_for('adminTeacherUpdate', id=teacher[0]) }}" class="btn btn-warning">Update</a>
                {% endif %}
            </td>
<td>
    {% if teacher[0] != admin_id %}
            <form action="{{url_for('adminDeleteTeacher', id=teacher[0]) }}" method="POST">

                <!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{ teacher[0] }}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{ teacher[0] }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{ teacher[1] }}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
                    {% endif %}

            </td>

   {% endfor %}
            </tbody>
        </table>
{% endblock %}
