{% extends 'adminBase.html' %}

{% block title %} Update Password {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/updateProfile.css">
<script src="../../static/javascript/updateProfile.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Change Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('adminUpdatePassword') }}" method="POST">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password">

          <button type="submit" class="btn btn-primary">Update Profile</button>

</form>

      </div>
{% endblock %}

