{% extends 'adminBase.html' %}

{% block title %} Update Teacher {% endblock %}

{% block content %}
<form method="POST" action="">
    <input type="hidden" id="id" name="id" value="{{ teacher_details[0] }}">
    <div class="form-inputs">
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if teacher_details %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ teacher_details[1] }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ teacher_details[2] }}" required>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role" name="role" value="{{ teacher_details[3] }}" required>
        </div>

        {% if admin_id == teacher_details[0] %}
        <p>You cannot lock or unlock your own account</p>

        {% else %}
        <label for="locked">Account Status:</label>
        <input type="text" id="locked" name="locked" value="{{ 'Locked' if teacher_details[10]  else 'Not locked' }}" readonly><br>
        <label for="lock_account">Lock Account:</label>
        <input type="checkbox" id="lock_account" name="lock_account">

        <label for="unlock_account">Unlock Account:</label>
        <input type="checkbox" id="unlock_account" name="unlock_account"><br>
        {% endif %}

        <button type="submit" class="btn btn-primary">Update</button>
        {% endif %}
    </div>
</form>
{% endblock %}
