
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminNav.css') }}">


<nav style="display: flex;">
    <a href="adminHome" style="text-decoration: none;">
    <div class="welcome" style="background: #0D2818; color: #fff; display: flex; width: 280px; align-items: center;">
        <img src="/static/img/Logo.png" style="width: 90px; height: 80px;">
        <p class="fw-normal">PlanetExplorers</p>
    </div>
        </a>
    <div class="pageName">
    <h1>{{ nameOfPage }}</h1>
        </div>
</nav>



<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <div class="welcome-text" style="display: flex;">
                {% if 'user' in session %}
          <img src="{{ url_for('static', filename='img/default_pp.png') }}" alt="Default Profile Picture" style="width: 60px; height: 60px;">
                <div class="user-info" style="flex-direction: column; padding-left: 20px;">
        <p>{{ session['user']['username'] }}</p>

                <p>{{ session['user']['role'] }}</p>
                    </div>

                {% endif %}
            </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Daily Challenge
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          My Account
        </a>
      </li>
      <li>
        <a href="adminTeacherTable" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Teachers
        </a>
      </li>
      <li>
        <a href="/adminStudentTable" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Students
        </a>
      </li>

        <li>
        <a href="/blogs" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Logs
        </a>
      </li>
    </ul>
<!--    <hr>-->
<!--    <div class="dropdown">-->
<!--      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--        <strong>mdo</strong>-->
<!--      </a>-->
<!--      <ul class="dropdown-menu text-small shadow">-->
<!--        <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--        <li><hr class="dropdown-divider"></li>-->
<!--        <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="logOutButton" style="position: absolute; left: 0; bottom: 0;">-->
<!--    <button type="button" class="btn btn-danger btn btn-primary btn-lg btn-block">Log Out</button>-->

<!--        </div>-->
  </div>