<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <!-- recaptcha API script -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
<h2>Forgot Password</h2>
<!--<form id="forgot-password-form" method="POST" action="/forget_password">-->
<!--    <label for="email">Email</label>-->
<!--    <input type="email" name="email" id="email" required>-->
<!--    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>-->
<!--    <button class="g-recaptcha"-->
<!--        data-sitekey="{{ site_key }}"-->
<!--        data-callback='onSubmit'-->
<!--        data-action='submit'>Send Password Reset</button>-->
<!--</form>-->

<form action="/forget_password" method="POST">
    <label for="email" id>Email</label>
    <input type="email" name="email" id="email" required>
      <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>

<!--<script>-->
<!--   function onSubmit(token) {-->
<!--     document.getElementById("forgot-password-form").submit();-->
<!--   }-->
<!-- </script>-->


</body>
</html>