<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminStore.css') }}">
</head>
<body>
    {% include 'adminBase.html' %}
    <div class="container">
        <h1>Manage Store Products</h1>
        <ul>
            {% for product in products %}
            <li>
                <img src="{{ url_for('static', filename=product[4]) }}" alt="{{ product[1] }}" width="100" height="100">
                <div>
                    <p>{{ product[1] }} - {{ product[2] }} ({{ product[3] }} in stock) - {{ product[5] }} Tokens</p>
                    <form action="{{ url_for('adminstoreupdatepage', product_id=product[0]) }}" method="get">
                        <button type="submit">Update</button>
                    </form>
                    <form action="{{ url_for('adminstoredelete') }}" method="post">
                        <input type="hidden" name="product_id" value="{{ product[0] }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <h2>Add Product</h2>
        <form action="{{ url_for('adminstoreaddpage') }}" method="get" class="add-product-form">
            <button type="submit">Add New Product</button>
        </form>
        <h2>Order Backlog</h2>
        <form action="{{ url_for('adminOrders') }}" method="get" class="order-backlog-form">
            <button type="submit">View Order Backlog</button>
        </form>
    </div>
</body>
</html>


