<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/store.css') }}">
    <script src="{{ url_for('static', filename='javascript/store.js') }}" defer></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Store Products</h1>
        <ul class="product-list">
            {% for product in products %}
            <li class="product-item" data-id="{{ product[0] }}" data-name="{{ product[1] }}" data-description="{{ product[2] }}" data-price_in_points="{{ product[5] }}" data-image="{{ url_for('static', filename=product[4]) }}">
                <img src="{{ url_for('static', filename=product[4]) }}" alt="{{ product[1] }}" class="product-image">
                <div class="product-details">
                    <h2 class="product-name">{{ product[1] }}</h2>
                    <p class="product-price"><img src="{{ url_for('static', filename='img/explorer_point.png') }}" alt="Explorer Point" class="explorer-point-icon">Explorer Points: {{ product[5] }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="product-popup" class="product-popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <img id="popup-image" src="" alt="" class="popup-image">
            <h2 id="popup-name"></h2>
            <p id="popup-description"></p>
            <p id="popup-price_in_points"></p>
            <form id="add-to-cart-form" class="add-to-cart-form">
                <input type="hidden" name="product_id" id="popup-product-id">
                <div class="quantity-input">
                    <button type="button" class="quantity-btn minus-btn">-</button>
                    <input type="text" name="quantity" value="1" class="quantity-field" readonly>
                    <button type="button" class="quantity-btn plus-btn">+</button>
                </div>
                <button type="submit" class="add-to-cart-btn">Add to Cart</button>
            </form>
        </div>
    </div>
</body>
</html>

