<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_orders.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h2>My Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price per Item</th>
                <th>Total Points</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% for item in order['items'] %}
                <tr>
                    <td>{{ order['order'][0] }}</td>  <!-- Order ID -->
                    <td>{{ item[3] }}</td>  <!-- Product Name -->
                    <td>{{ item[4] }}</td>  <!-- Quantity -->
                    <td>{{ item[5] }}</td>  <!-- Price per Item -->
                    <td>{{ item[4] * item[5] }}</td>  <!-- Total Points for Item -->
                    <td>{{ order['order'][5] }}</td>  <!-- Status -->
                    <td>{{ order['order'][4] }}</td>  <!-- Order Date -->
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>