<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form method="POST" action="login">
        <label for="username">User ID</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br>
        <a href="{{ url_for('forget_password') }}">Forget Password?</a>
        <button type="submit">Login</button>
    </form>
    <a href="{{ url_for('register') }}">Register Account</a>

</body>
</html>
