<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/profile.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        {% if 'user' in session %}
        <div class="profile-card mx-auto">
            <div class="profile-picture">
                {% set profile_pic = user[8] %}
                {% if profile_pic %}
                <img src="{{ url_for('static', filename=profile_pic) }}" class="profile-img">
                {% else %}
                <img src="{{ url_for('static', filename='img/default_pp.png') }}" alt="Default Profile Picture" class="profile-img">
                {% endif %}
            </div>
            <div class="profile-details">
                <p><strong>Username:</strong> {{ user[1] }}</p>
                {% set name = user[4] %}
                <p><strong>Name:</strong> {% if name %}{{ name }}{% else %}-{% endif %}</p>
                <p><strong>Explorer Points:</strong> {{ user[14] }}</p>
                <p><strong>Email:</strong> {{ user[3] }}</p>
                <p><strong>Age:</strong> {{ user[5] }}</p>
                {% set address = user[6] %}
                <p><strong>Address:</strong> {% if address %}{{ address }}{% else %}-{% endif %}</p>
                {% set hp = user[7] %}
                <p><strong>Phone:</strong> {% if hp %}{{ hp }}{% else %}-{% endif %}</p>
            </div>
            <div class="buttons mt-4" style="justify-content: center; align-items: center;">
                <a href="{{ url_for('updateProfile') }}" class="btn btn-primary">Update Profile</a>
                <a href="{{ url_for('updatePassword') }}" class="btn btn-primary">Change Password</a>
                <a href="{{ url_for('user_orders') }}" class="btn btn-primary">View Purchase History</a>
                {% if user[15] is none %}
                <a href="{{ url_for('verify_register') }}" class="btn btn-info">Verify Email</a>
                {% endif %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        Are you sure you want to delete your account?
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <form action="{{ url_for('deleteAccount') }}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
