<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>

{% include 'navbar.html' %}
    <div class="container">
        <h2>Change Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('updatePassword') }}" method="POST">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password">

          <button type="submit" class="btn btn-primary">Update Profile</button>

</form>

      </div>

</body>
</html>